<form action="/" method="post" id="static-form">

<div class="text-center">
    <label for="numberForCheck">input:</label>
    <input type="number" name="inputNumber" placeholder="enter the number you want to check" id="numberForCheck">
</div>

<div class="text-center">
    <label for="submitTheNumber">click to check</label>
    <button type="submit" id="submitTheNumber">submit</button> 
</div>

<div id='error-container'>
    <div class="text-goes-here"></div>
</div>

<div class="container">
    <div class="row">
    <div class="col-sm-6">
    <ul id="result-container"></ul>
    </div>
    </div>
</div>