<h1>{{title}}</h1>
<body>
    <main>
        <p>website for handling data of TV Maze.</p>
        <form action = "/search" method = "POST" class = "search_tvMaze">
        <label>search input:
            <input type = "text" name = "searchTerm" placeholder="intput_for_search" 
            value = "{{searchTerm}}" class = "searchTerm for search">
        </label>

        <label>
            submit button: 
            <button type="submit">submit</button>
        </label>
        </form>
    </main>
</body>