<div class="error" id="error-container">
    <div>{{error}}</div>
</div>

<form action="/login" method="post" id="login-form" class="text-custom">
    <div>
        <label for="username">User ID:</label>
        <input type="text" name="username" placeholder="input your username" id="username">
    </div>
    <div>
        <label for="password">password:</label>
        <input type="password" name="password" placeholder="password here" id="password">
    </div>

    <div>
        <label for="submit_form">click--></label>
        <button type="submit" id="submit_form">LOGIN</button>
    </div>

</form>