<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title>Fibonacci &amp; Prime Number Checker</title>
    <link rel = "stylesheet" href="/public/css/main.css">
    <link rel="icon" href="data:image/ico;base64,aWNv">
</head>

<body>
    <header>
        <h1>Fibonacci &amp; Prime Number Checker</h1>
    </header>

    {{{body}}}

    <footer class="text-center">
        <div>
            <p>Posted by Feng Liu</p>
        </div>

        <div>
            <p>10446406</p>
        </div>
    </footer>
    <script src="/public/js/checker.js"></script>
</body>

</html>
